<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h2>Welcome {{user}}</h2>
    <a href="/item">View items</a>
    <a href="/order">View your orders</a>
</body>
</html>