<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h2>Welcome {{user}}</h2>
    <a href="/item">View items</a>
    {{#if supplier}}
        <a href="/item/new">Post new items</a>
    {{else}}
        <a href="/order">View your orders</a>
    {{/if}}
    <a href="/user/logout">Logout</a>
</body>
</html>