<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div class="log-form">
    <h2>Login to your account</h2>
        <form method="post">
            <input type="text" title="email" name="email" placeholder="username" />
            <input type="password" title="password" name="password" placeholder="password" />
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</body>
</html>